@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css");

.forecast_plus table {
  font-size: 1rem;
  line-height: 1.3rem;
}

.forecast_plus table td {
	padding: 0;
}

.forecast_plus .day {
	text-align: left;
	min-width: 45px;
	max-width: 55px;
}

.forecast_plus .weather-icon {
	min-width: 40px;
	max-width: 50px;
	text-align: center;
}

.forecast_plus tr.colored .max-temp {
	min-width: 60px;
	max-width: 75px;
	color: tomato;
}

.forecast_plus tr.colored .min-temp {
	min-width: 60px;
	max-width: 75px;
	color: skyblue;
}

.forecast_plus .shade {
	min-width: 70px;
	max-width: 90px;
	color: gray;
}

.forecast_plus table tr:nth-child(1) td:nth-child(1) {
	color: lime;
}

.forecast_plus .wi-day-sunny {
    color: orange;
}

.forecast_plus .wi-day-cloudy {
    color: darkkhaki;
}

.forecast_plus .wi-day-cloudy-windy {
    color: skyblue;
}

.forecast_plus .wi-cloudy {
    color: powderblue;
}

.forecast_plus .wi-day-showers {
    color: skyblue;
}

.forecast_plus .wi-day-rain {
    color: dodgerblue;
}

.forecast_plus .wi-day-thunderstorm {
    color: royalblue;
}

.forecast_plus .wi-day-snow {
    color: snow;
}

.forecast_plus .wi-day-fog {
    color: white;
}

.forecast_plus .wi-night-clear {
    color: white;
}

.forecast_plus .wi-night-cloudy {
    color: powderblue;
}

.forecast_plus .wi-night-showers {
    color: dodgerblue;
}

.forecast_plus .wi-night-rain {
    color: dodgerblue;
}

.forecast_plus .wi-night-thunderstorm {
    color: royalblue;
}

.forecast_plus .wi-night-snow {
    color: snow;
}

.forecast_plus .wi-night-alt-cloudy-windy {
    color: skyblue;
}
