.hourlyforecast .day {
  text-align: left;
}

.hourlyforecast .weather-icon {
  text-align: center;
}

.hourlyforecast .min-temp {
}

.hourlyforecast .rain {
  color: gray;
}

.hourlyforecast .snow {
  color: gray;
}

.hourlyforecast table {
  font-size: 1rem;
  line-height: 1.3rem;
}

.hourlyforecast tr.colored .min-temp {
  color: skyblue;
}

.hourlyforecast tr.colored .max-temp {
  color: tomato;
}

.hourlyforecast tr:nth-child(1) td:nth-child(1) {
  text-indent: -9999px;
  line-height: 0;
}

.hourlyforecast tr:nth-child(1) td:nth-child(1)::after {
  text-indent: 0;
  content: "Now";
  display: block;
  line-height: initial;
  color: lime;
}

.hourlyforecast .wi-day-sunny {
    color: orange;
}

.hourlyforecast .wi-day-cloudy {
    color: DarkKhaki;
}

.hourlyforecast .wi-day-cloudy-windy,
.hourlyforecast .wi-cloudy-windy {
    color: skyblue;
}

.hourlyforecast .wi-cloudy {
    color: powderblue;
}

.hourlyforecast .wi-day-showers,
.hourlyforecast .wi-showers {
    color: skyblue;
}

.hourlyforecast .wi-day-rain,
.hourlyforecast .wi-rain {
    color: dodgerblue;
}

.hourlyforecast .wi-day-thunderstorm,
.hourlyforecast .wi-thunderstorm {
    color: royalblue;
}

.hourlyforecast .wi-day-snow,
.hourlyforecast .wi-snow {
    color: snow;
}

.hourlyforecast .wi-day-fog,
.hourlyforecast .wi-fog {
    color: white;
}

.hourlyforecast .wi-night-clear {
    color: white;
}

.hourlyforecast .wi-alt-night-cloudy,
.hourlyforecast .wi-night-cloudy {
    color: powderblue;
}

.hourlyforecast .wi-night-showers {
    color: dodgerblue;
}

.hourlyforecast .wi-night-rain {
    color: dodgerblue;
}

.hourlyforecast .wi-night-thunderstorm {
    color: royalblue;
}

.hourlyforecast .wi-night-snow {
    color: snow;
}

.hourlyforecast .wi-night-alt-cloudy-windy {
    color: skyblue;
}
